name: Build pybar binary with Pyinstaller

on:
  push:

jobs:
  build-arch:
    runs-on: ubuntu-24.04
    container:
      image: archlinux:latest
    steps:
      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm python python-pip base-devel openssl git \
          libgirepository gtk3 python-gobject cairo python-cairo pkgconf

      - name: Checkout
        uses: actions/checkout@v3

      - name: Create virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip

      - name: Install Python dependencies
        run: |
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Install PyInstaller
        run: |
          source venv/bin/activate
          pip install pyinstaller

      - name: Build binary
        run: |
          source venv/bin/activate
          pyinstaller pybar.spec

      - name: Create Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pybar-arch
          path: dist/

      - name: List files in dist folder
        run: ls -R ./dist/

  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Install Ubuntu dependencies
        run: |
          sudo apt update
          sudo apt install -y libgirepository1.0-dev libgtk-3-dev libatk1.0-dev openssl

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.7

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
        working-directory: ./

      - name: Install PyInstaller
        run: |
          pip install pyinstaller
        working-directory: ./

      - name: Build binary
        run: |
          pyinstaller pybar.spec

      - name: Create Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pybar
          path: dist/

      - name: List files in dist folder
        run: ls -R ./dist/

